<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="test-biblio">
  <display-name>Système de gestion judiciaire WEB</display-name>
  <context-param>
    <param-name>exempleParam1</param-name>
    <param-value>valeurDeExempleParam1</param-value>
  </context-param>
  <context-param>
    <param-name>exempleParam2</param-name>
    <param-value>valeurDeExempleParam2</param-value>
  </context-param>
      <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>javaEncoding</param-name>
            <param-value>ISO-8859-1</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
  <listener>
    <listener-class>judiciaireServlet.JudiciaireSessionListener</listener-class>
    <listener-class>judiciaireServlet.JudiciaireContextListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>judiciaireServlet.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>judiciaireServlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>judiciaireServlet.Acceuil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Proces</servlet-name>
    <servlet-class>judiciaireServlet.Proces</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Avocats</servlet-name>
    <servlet-class>judiciaireServlet.Avocats</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Jurys</servlet-name>
    <servlet-class>judiciaireServlet.Jurys</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Juges</servlet-name>
    <servlet-class>judiciaireServlet.Juges</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TableauDeBord</servlet-name>
    <servlet-class>judiciaireServlet.TableauDeBord</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>Parties</servlet-name>
    <servlet-class>judiciaireServlet.Parties</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/Acceuil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Proces</servlet-name>
    <url-pattern>/Proces</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Avocats</servlet-name>
    <url-pattern>/Avocats</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Jurys</servlet-name>
    <url-pattern>/Jurys</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Juges</servlet-name>
    <url-pattern>/Juges</url-pattern>
  </servlet-mapping>  
    <servlet-mapping>
    <servlet-name>Parties</servlet-name>
    <url-pattern>/Parties</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>TableauDeBord</servlet-name>
    <url-pattern>/TableauDeBord</url-pattern>
  </servlet-mapping>
</web-app>
